/* Mantener la configuración original de la navbar */
.navbar {
  background-color: #0077C8 !important; 
  border-color: #0077C8 !important; 
  background-image: none !important; 
  height: 65px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important; 
  font-weight: bold !important; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0077C8;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #FFFFFF; 
  font-weight: bold;
}

.navbar-collapse {
  background-color: #0077C8;
}

.navbar-nav > li > a {
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > .active > a {
  background-color: #005a9c;
  color: #ffffff;
}

/* Ajustes para evitar el espacio en blanco y scroll innecesario */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

body {
  min-height: 100vh;
  display: block;
  overflow-y: scroll;
}

main {
  margin-bottom: 0;
}

footer {
  margin: 0;
  padding: 10px 0;
  background-color: #0077C8;
}

/* Resto del contenido */
.two-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 48%;
}

p {
  margin: 0;
  padding: 2px 0;
}

.copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
  z-index: 10;
}

.copy-button:hover {
  color: #0056b3;
}
