.navbar {
  background-color: #0077C8 !important; /* Cambia este valor para ajustar el color del cintillo */
  border-color: #0077C8 !important; /* Opcional: cambia también el color del borde si es necesario */
  background-image: none !important; /* Elimina cualquier imagen de fondo */
   height: 65px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important;  /* Cambia este valor al color deseado */
  font-weight: bold !important; /* Hace que las letras estén en negritas */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0077C8; /* Cambia este valor al color deseado cuando el mouse está encima */
  font-weight: bold; /* Mantiene las letras en negritas al hacer hover o focus */
}

.navbar-default .navbar-brand {
  color: #FFFFFF; /* Cambia este valor al color del texto del logotipo de la navbar */
  font-weight: bold; /* Hace que el texto del logotipo esté en negritas */
}

/* Fondo del navbar cuando está en el estado colapsado */
.navbar-collapse {
  background-color: #0077C8; /* Color de fondo del menú desplegable */
}

/* Estilos adicionales para los enlaces del menú desplegable */
.navbar-nav > li > a {
  color: #ffffff; /* Color del texto en el menú desplegable */
  font-weight: bold;
  padding: 10px 15px;
}

/* Opcional: Cambiar color de fondo cuando el enlace está en hover o activo */
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > .active > a {
  background-color: #005a9c; /* Color de fondo en hover/activo */
  color: #ffffff; /* Color del texto en hover/activo */
}
