/* General Settings */
body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #ffffff;
}

/* Ajustes para títulos principales */
h1 {
    font-size: 2.5em; /* Ajustar si es necesario */
    color: #0077C8;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em; /* Ajustar si es necesario */
    color: #0077C8;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    color: #0077C8;
}

/* Ajustes para secciones con fondo inverso */
.inverse {
    background-color: #0077C8 !important;
    color: #ffffff !important;
}

.inverse h1, .inverse h2, .inverse h3, .inverse p, .inverse li, .inverse a {
    color: #ffffff !important;
}

/* General Settings */
body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #ffffff;
}

/* Ajustes para títulos principales */
h1 {
    font-size: 2.5em; /* Ajustar si es necesario */
    color: #0077C8;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em; /* Ajustar si es necesario */
    color: #0077C8;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    color: #0077C8;
}

/* Ajustes para secciones con fondo inverso */
.inverse {
    background-color: #0077C8 !important;
    color: #ffffff !important;
}

.inverse h1, .inverse h2, .inverse h3, .inverse p, .inverse li, .inverse a {
    color: #ffffff !important;
}

/* Estilos para las notas al pie (footnote) */
.footnote, .footnote a {
    font-size: 0.8em; /* Tamaño de letra más pequeño */
    color: #0077C8; /* Color por defecto para las notas al pie */
}

/* Estilo para las notas al pie en secciones inversas (con fondo #0077C8) */
.inverse .footnote, .inverse .footnote a {
    color: #ffffff !important; /* Color blanco cuando el fondo es #0077C8 */
}


