/* Basado en rladies-fonts, pero con personalización para INEGI */

/* Fuente primaria */
body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

/* Encabezados */
h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 700; /* Negrita */
    font-size: 1.6em; /* 80% de 2em */
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 600; /* Semi-negrita */
    font-size: 1.4em; /* 80% de 1.75em */
}

h3 {
    font-family: 'Arial', sans-serif;
    font-weight: 500; /* Mediana */
    font-size: 1.2em; /* 80% de 1.5em */
}

h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 0.8em; /* Ajustar si es necesario */
}

/* Estilo para el texto normal */
p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
}

/* Estilo para citas */
blockquote {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
}

/* Enlaces */
a {
    font-family: 'Arial', sans-serif;
    font-weight: 600; /* Semi-negrita */
}
